<!DOCTYPE html>
<html>
<head>
    <title>AI Expense Insight</title>
</head>
<body>
    <h1>Expense Tracker Running ✅</h1>
    <a href="/add">Add Expense</a>
    <h2>ALL EXPENSES</h2>

    <!-- LIST OUT ALL EXPENSES -->
    <ul>
    {% for expense in expenses %}
    <li>
        ${{ expense["amount"] }} —
        {{ expense["category"] }} —
        {{ expense["date"] }}
        ({{ expense["note"] }})
    </li>
    {% endfor %}
    <!-- .................... -->
    </ul>
    <br><br>
    <a href="/dashboard">View Dashboard</a>
</body>
</html>